* {
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

ul, li {
	list-style: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#main-header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-image: url('white_logo.jpg');
}

#main-header h1 {
	color : black;
	text-align: center;
	font-family : DX하늘구름 중간;
	text-align: center;
	/*margin-left: 100px;*/
}

#main-header ul li a {
	width : 100px;
	float: right;
	font-size : 25px;
	color : black;
	letter-spacing: -2px;
	text-align: left;
	margin-right: 5px;
}

#main-header ul li a:hover {
	color: gray;
}

.head {
	line-height : 80px;
	position: relative;
	bottom: 80px;
}

#main-navigation {
	width: 100%;
	height: 80px;
	color: white;
	line-height: 80px;
	font-size : 40px;
}

.nav {
	width: 100%;
	height: 80px;
	line-height: 80px;	
	background-color : gray;
	font-size : 15px;
	font-weight : bold;
	text-align: center;
}

.nav li {
	width: 70px;
	margin: 0 40px;
	display: inline-block;
	padding: 0 -20px;
	text-align: center;
}

.nav li a {
	color : white;
	display : block;
	width : 100px;
	/*height : 60px;*/
	line-height : 0px;
	word-spacing: -3px;
	font-size : 18px;
	margin-left: 80px;
	text-align: center;
}

.nav li a:hover {
	color : black;
}

.title {
	color : white;
}

#main-section {
	background-image: url('back.jpg');
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: 1800px 700px;
	/*margin-top: -30px;*/
	position: fixed;
	width: 100%;
	height: 90%;
	
}

/*#main-footer {
	width: 100%;
	height: 20%;
	line-height: 20%;
	background-color:gray;
}*/

.scroll {
	height: 400px;
	overflow-y: auto;
}

.title {
	padding: 30px 0 20px 0;
	text-align: center;
}

.table_line {
	margin: 0 auto;
	overflow-y: auto;
	border: 1px solid black;
}

.table_line th, .table_line td {
	padding: 5px;
	border: 1px solid black;
}

.center td {
	text-align: center;
}